body {
  padding-top: 50px;
}

body *{
  letter-spacing: .05em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.navbar-brand, .footer{
  font-family: 'Lobster', cursive;
  letter-spacing: normal;
  font-weight: lighter;
}

footer {
  padding: 50px;
}
